<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Гонка_чемпионов.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Гонка_чемпионов.Properties.Settings>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NormalSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EnnyCard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstGameOpening" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Money" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Complexity1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Complexity2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Complexity3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EzCard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoeCard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ez" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Zoe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnnyChoose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EzChoose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoeChoose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartsCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ach2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ach3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TanksCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PassenegerCarsCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RacingCarsCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CarsCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EvelinChoose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EkkoChoose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllMoney" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SveynCard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sveyn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SveynChoose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettCard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sett" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettChoose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EvelinCard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Evelin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EkkoCard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ekko" serializeAs="String">
                <value>False</value>
            </setting>
        </Гонка_чемпионов.Properties.Settings>
    </userSettings>
</configuration>